# Игнорировать директорию виртуальной среды Python (если используется venv или virtualenv)
.venv/

# Игнорировать директорию проекта PyCharm
.idea/

__pycache__/

data/
tests/
**/migrations/*.py
!**/migrations/__init__.py

data.json
conftest.py
debug.log
parser.py
payload_doc.md
pytest.ini
tgbot_backup.sql